@import "../variables";

.nav {
    display: none;
}


.img-small-slots {
    display: block;
    width: 205px !important;
    z-index: 3;
    transition: all 0.2s ease-in;
    -webkit-box-shadow: 0 8px 12px rgb(0 0 0 / 16%), inset 0 -2px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 8px 12px rgb(0 0 0 / 16%), inset 0 -2px 0 rgb(0 0 0 / 30%);
    }

.slotlist_header {
    margin: 30px auto;
    max-width: 650px;
    margin-bottom: 15px;
    text-align: center;
h2 {
        @include themed() {
    color: t('textheader');
        }
    font-size: 33px;
  weight: 600px !important;
    line-height: 38px;
    margin: 0;
}
p {
    font-size: 23px;
    line-height: 28px;
    margin: 15px 0;
}
}

.card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 10px;
}

.slotlistTabs {
    @include themed() {

        display: flex;
        flex-direction: row;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        
        .slotlistTab {
        width: 100%;
        display: inline-flex;
        align-content: center;
        justify-content: center;
        padding: 15px;
        text-align: center;
        border-bottom: 2px solid transparent;
        color: rgba(t('text'), 0.7);
        transition: border-bottom-color 0.3s ease, color 0.3s ease;
        cursor: pointer;

                &:hover {
                    color: t('text');
                }

                &:first-child {
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                }
            }

            .slotlistTab.active {
                color: t('text');
                border-bottom-color: t('secondary');
            }
        }
}
.slotlistTabContent {
    @include themed() {
}
}


@media(max-width: 1300px) {
    .sm-column {
        flex: 0 0 50%;
    }
}

@include media-breakpoint-down(sm) {
    .sm-column {
        flex: 0 0 100%;
    }
}

