@import '../variables';

body {
    @include themed() {
        background: url('/img/misc/patternbg.png') repeat, darken(t('body'), 1%) !important;
    }
}

.nav {
    width: calc(100% + 55px) !important; 
}

.pageContent .heading {
    margin: 15px 0;
    padding-left: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: 1.3em;
    position: relative;
}

.contact_us {
    @include themed() {
        border: none;
    }
    border-radius: 4px;
    padding: 15px;
    background: url(/img/misc/help-contact.svg);
    background-size: cover;
    margin-bottom: 10px;
    display: flex;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        font-size: 2.5em;
        padding-right: 10px;
        @include themed() {
            border-right: 1px solid rgba(t('link'), 0.1);
        }
        margin-right: 15px;
    }
    .desc {
        display: flex;
        flex-direction: column;
    }
}

@include media-breakpoint-down(md) {
    .contact_us {
        display: flex !important;
        width: 100%;
    }
}


.help {
    margin-top: 10px;
    margin-bottom: 10px;

    @include themed() {
        .title {
            background: t('secondary');
            border: 2px solid #2f97f4;
            color: #ffffff;
            border-radius: 12px;
            padding: 8px 20px;
            font-size: 1.1em;
            font-family: Proxima Nova Med;
            cursor: pointer;
            box-shadow: 0 3px 6px rgb(0 0 0 / 25%);
            transition: all 0.15s ease-in;

            &:hover {
            background: t('secondary');
            color: t('sidebar');
            }
        }

        .description {
            padding: 0;
            border: 1px solid rgba(t('link'), 0.3);
            border-top: none;
            height: 0;
            opacity: 0;
            visibility: hidden;
        }
    }
}

.help.active {
    @include themed() {
        .title {
            font-family: Proxima Nova Semi Bd;
            background: url(/img/misc/help-contact.svg);
            background-size: cover;
            color: #ffffff;
            border: 2px solid #124061;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .description {
            height: auto;
            padding: 15px 20px;
            opacity: 1;
            visibility: visible;
        }
    }
}
