.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: inherit;
    margin-top: calc(var(--bs-gutter-y)*-1);
    margin-right: calc(var(--bs-gutter-x)/-2);
    margin-left: calc(var(--bs-gutter-x)/-2);
}

.theme--dark .text-success {
  color: !important;
}

.theme--dark .text-danger {
  color: !important;
}

.theme--dark .text-primary {
  color: #ff9900 !important;
}

.theme--dark .bg-success {
  background: !important;
}

.theme--dark .bg-danger {
  background: !important;
}


.theme--dark .primary {
  fill: white;
}

.theme--dark .secondary {
  fill: #ff9900;
}

.game-content-slide {
  display: flex;
  max-width: 1000px !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.game-content-slide .slide_container_line {
  position: absolute;
  z-index: 4;
  background: url("/img/misc/slide.svg") no-repeat center;
  background-size: cover;
    width: 17px;
    height: 130px;
    margin-right: 5px;
    margin-top: 170px;
}

.game-content-slide .game-history {
  z-index: 55;
}

.game-content-slide .slide_container {
  display: flex;
  overflow: hidden;
  width: calc(100% + 22px);
}


.game-content-slide .slide_container .slide_container_row {
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
}


.theme--default .game-content-slide .slide_container .slide_container_row .slide_card .slide_card_footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: url("/img/misc/carbon.png") repeat, linear-gradient(#1d212d, #1a1d28) !important;
  transition: background 0.3s ease;
}

.theme--default .game-content-slide .slide_container .slide_container_row .slide_card .hexagon {
  position: absolute;
  left: 50%;
  top: 14px;
  width: 70%;
  height: 85px;
  transform: translateX(-50%);
  background: url(/img/misc/hexagon.svg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.theme--default .game-content-slide .slide_container .slide_container_row .slide_card:last-child {
  margin-right: 0;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
  opacity: 1;
  }
  
  25%, 75% {
  opacity: 0;
  }
  }
  
  @keyframes flash {
  0%, 50%, 100% {
  opacity: 1;
  }
  
  25%, 75% {
  opacity: 0;
  }
  } 

.theme--dark .game-content-slide .slide_container .slide_container_row .slide_card {
  width: 110px;
  height: 230px;
  display: flex;
  margin-right: 10px;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  background: url(/img/misc/carbon.png) repeat, linear-gradient(#11244e, #0b1f4d);
  border: 3px solid transparent;
  transition: border-color 0.3s ease;
}

.theme--dark .game-content-slide .slide_container .slide_container_row .slide_card .slide_card_footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  background: url("/img/misc/carbon.png") repeat, linear-gradient(#1d212d, #1a1d28);
  transition: background 0.3s ease;
}

.theme--dark .game-content-slide .slide_container .slide_container_row .slide_card .hexagon {
  position: absolute;
  left: 50%;
  top: 14px;
  width: 70%;
  height: 85px;
  transform: translateX(-50%);
  background: url(/img/misc/hexagon.svg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}



.theme--dark .game-content-slide .slide_container .slide_container_row .slide_card:last-child {
  margin-right: 0;
}

.theme--dark .game-content-slide .slide_container .slide_container_row .slide_card.selected {
  border-color: #ffffff36 !important;
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  }

.theme--dark .game-content-slide .slide_container .slide_container_row .slide_card.selected .slide_card_footer {
  background: url("/img/misc/carbon.png") repeat, linear-gradient(#1d212d, #1a1d28) !important;
}

.game-content-slide .slideCustomHistory {
  position: absolute;
  left: 30px;
  top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 114px;
  z-index: 5;
  width: 45px;
  border-radius: 5px;
  overflow: hidden;
}

.theme--dark .game-content-slide .slideCustomHistory {
  background: #0a0a0b;
}

.game-content-slide .slideCustomHistory .slideCustomHistoryElement {
  padding: 0.955em 0;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 0.9em;
  font-weight: 600;
  color: black;
}

.game-content-slide .game-history {
  height: 10px;
  padding: 0 !important;
  position: relative;
  top: 0 !important;
  bottom: unset !important;
}

.game-content-slide .game-history .history-slide {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  will-change: width;
}

.game-content-slide .game-history .history-slide span {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 0.65em;
}

.theme--dark .game-content-slide .game-history .history-slide {
  background: #1957ec;
}

.theme--dark .game-sidebar .game-sidebar-tabs {
  display: none !important;
}


@media (max-width: 1096px) {
.row {
      flex-wrap: wrap !important;
}
}

@media (max-width: 1096px) {

    .game-container {
        .col {
            min-height: 200px !important;
        }

        .col:first-child {
            order: 1;
            flex: 0 0 100% !important;
            margin-top: 15px;
            margin-bottom: -10px;
        }

        .col:last-child {
            padding-left: 15px !important;
        }
    }
}


@media (max-width: 950px) {
  .game-content-slide .slideCustomHistory {
    left: 10px;
    top: 10px;
    transform: unset !important;
    height: 75px;
  }


  .game-content-slide .slide_container_line {
    margin-top: 105px;
  }
}
